.contacts {
  background-color: #fff;
  padding: 120px 0;
  background-image: url("./../../img/consulting__bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  &__inner {
    display: flex;
    gap: 60px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
  }

  &__title {
    position: relative;
    color: var(--light-color);
    z-index: 3;
  }

  &__offer {
    margin-bottom: 40px;
    color: var(--text-light);
    font-weight: 600;
    font-size: 20px;
    position: relative;
    z-index: 3;
  }

  &__forminner {
    width: 100%;
    padding: 40px 50px;
    border: 2px solid var(--accent);
    border-radius: 15px;
    position: relative;
    z-index: 3;
  }

  &__call {
    font-size: 32px;
    color: var(--light-color);
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--border);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.feed-form {
  & input {
    padding: 0 20px;
    margin-bottom: 15px;
    height: 54px;
    color: var(--light-color);
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--border);
    font-size: 14px;
    outline: none;
  }

  & input:focus {
    border: 1px solid var(--accent);
  }

  &__text {
    height: 200px;
    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: transparent;
    padding: 15px;
    font-size: 14px;
    color: var(--light-color);
    outline: none;
    resize: none;
    margin-bottom: 40px;
  }

  &__text:focus {
    border: 1px solid var(--accent);
  }

  &__btn {
    padding: 18px;
    font-size: 20px !important;
    font-weight: 700;
    color: var(--text-light);
    background-color: var(--accent) !important;
    color: var(--text-dark) !important;
    border-radius: 30px !important;
    transition: all 0.3s;
    &:hover {
      background-color: var(--light-color) !important;
      // color: var(--accent) !important;
    }
  }
}
